# QUESTION 1

# Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Donnez le résultat de votre calcul pour l'année 2013, ainsi que pour la dernière année disponible au jour où vous effectuez ce projet (2018).

In [3]:
# Import des librairies
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
# Import des données de la population mondiale 2013, 2017 (je vais en avoir besoin) et 2018
pop = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/Pop_mond13-17-18.csv")

In [5]:
# Je vérifie le type de données
pop.dtypes

Code Domaine     object
Domaine          object
Code zone         int64
Zone             object
Code Élément      int64
Élément          object
Code Produit      int64
Produit          object
Code année        int64
Année             int64
Unité            object
Valeur          float64
Note             object
dtype: object

In [8]:
# Je regarde les données dans leur ensemble
pop.describe(include='all')

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
count,711,711,711.000000,711,711.0,711,711.0,711,711.000000,711.000000,711,7.110000e+02,6
unique,1,1,NaN,237,NaN,1,NaN,1,NaN,NaN,1,NaN,1
top,OA,Séries temporelles annuelles,NaN,Namibie,NaN,Population totale,NaN,Population-Estimations,NaN,NaN,1000 personnes,NaN,"UNDESA, Population Division – World Population..."
freq,711,711,NaN,3,NaN,711,NaN,711,NaN,NaN,711,NaN,6
mean,NaN,NaN,135.805907,NaN,511.0,NaN,3010.0,NaN,2016.000000,2016.000000,NaN,3.758836e+04,NaN
std,NaN,NaN,79.024076,NaN,0.0,NaN,0.0,NaN,2.161768,2.161768,NaN,1.593826e+05,NaN
min,NaN,NaN,1.000000,NaN,511.0,NaN,3010.0,NaN,2013.000000,2013.000000,NaN,7.930000e-01,NaN
25%,NaN,NaN,69.000000,NaN,511.0,NaN,3010.0,NaN,2013.000000,2013.000000,NaN,3.838235e+02,NaN
50%,NaN,NaN,134.000000,NaN,511.0,NaN,3010.0,NaN,2017.000000,2017.000000,NaN,5.296326e+03,NaN
75%,NaN,NaN,199.000000,NaN,511.0,NaN,3010.0,NaN,2018.000000,2018.000000,NaN,1.970272e+04,NaN
max,NaN,NaN,351.000000,NaN,511.0,NaN,3010.0,NaN,2018.000000,2018.000000,NaN,1.459378e+06,NaN

In [9]:
# Vérification de l'import
pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,32269.589,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,37171.921,NaN
3,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,53687.121,NaN
4,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,NaN

In [10]:
# Nettoyage du dataframe
pop.drop(["Code Domaine", "Domaine", "Code Élément", "Code Produit", "Produit", "Code année","Note"], axis=1).head()

,Code zone,Zone,Élément,Année,Unité,Valeur
0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589
1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113
2,2,Afghanistan,Population totale,2018,1000 personnes,37171.921
3,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121
4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756

In [11]:
# Calcul des populations mondiales 2013, 2017 et 2018
pop_gb = pop.groupby("Année")

In [12]:
pop_gb[['Valeur']].sum()*1000

             Valeur
Année
2013   8.633817e+09
2017   9.000759e+09
2018   9.090746e+09

Mais sur Wikipedia, pop mondiale 2010 = env. 7 milliards; 2020 = env. 7,8 milliards => mes chiffres sont trop élevés.

In [57]:
pop.Zone.unique()

array(['Afghanistan', 'Afrique du Sud', 'Albanie', 'Algérie', 'Allemagne',
       'Andorre', 'Angola', 'Anguilla', 'Antigua-et-Barbuda',
       'Antilles néerlandaises (ex)', 'Arabie saoudite', 'Argentine',
       'Arménie', 'Aruba', 'Australie', 'Autriche', 'Azerbaïdjan',
       'Bahamas', 'Bahreïn', 'Bangladesh', 'Barbade', 'Bélarus',
       'Belgique', 'Belize', 'Bénin', 'Bermudes', 'Bhoutan',
       'Bolivie (État plurinational de)',
       'Bonaire, Sint Eustatius et Saba', 'Bosnie-Herzégovine',
       'Botswana', 'Brésil', 'Brunéi Darussalam', 'Bulgarie',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodge', 'Cameroun',
       'Canada', 'Chili', 'Chine', 'Chine - RAS de Hong-Kong',
       'Chine - RAS de Macao', 'Chine, continentale',
       'Chine, Taiwan Province de', 'Chypre', 'Colombie', 'Comores',
       'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatie', 'Cuba',
       'Curaçao', 'Danemark', 'Djibouti', 'Dominique', 'Égypte',
       'El Salvador', 'Émirats arabes unis', 'Équateur', 'Érythrée',
       'Espagne', 'Estonie', 'Eswatini', "États-Unis d'Amérique",
       'Éthiopie', 'Fédération de Russie', 'Fidji', 'Finlande', 'France',
       'Gabon', 'Gambie', 'Géorgie', 'Ghana', 'Gibraltar', 'Grèce',
       'Grenade', 'Groenland', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinée', 'Guinée équatoriale', 'Guinée-Bissau', 'Guyana',
       'Guyane française', 'Haïti', 'Honduras', 'Hongrie', 'Île de Man',
       'Iles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Marshall', 'Îles Salomon', 'Îles Turques et Caïques',
       'Îles Vierges américaines', 'Îles Vierges britanniques',
       'Îles Wallis et Futuna', 'Inde', 'Indonésie',
       "Iran (République islamique d')", 'Iraq', 'Irlande', 'Islande',
       'Israël', 'Italie', 'Jamaïque', 'Japon', 'Jordanie', 'Kazakhstan',
       'Kenya', 'Kirghizistan', 'Kiribati', 'Koweït', 'Lesotho',
       'Lettonie', 'Liban', 'Libéria', 'Libye', 'Liechtenstein',
       'Lituanie', 'Luxembourg', 'Macédoine du Nord', 'Madagascar',
       'Malaisie', 'Malawi', 'Maldives', 'Mali', 'Malte', 'Maroc',
       'Martinique', 'Maurice', 'Mauritanie', 'Mayotte', 'Mexique',
       'Micronésie (États fédérés de)', 'Monaco', 'Mongolie',
       'Monténégro', 'Montserrat', 'Mozambique', 'Myanmar', 'Namibie',
       'Nauru', 'Népal', 'Nicaragua', 'Niger', 'Nigéria', 'Nioué',
       'Norvège', 'Nouvelle-Calédonie', 'Nouvelle-Zélande', 'Oman',
       'Ouganda', 'Ouzbékistan', 'Pakistan', 'Palaos', 'Palestine',
       'Panama', 'Papouasie-Nouvelle-Guinée', 'Paraguay', 'Pays-Bas',
       'Pérou', 'Philippines', 'Pologne', 'Polynésie française',
       'Porto Rico', 'Portugal', 'Qatar', 'République arabe syrienne',
       'République centrafricaine', 'République de Corée',
       'République de Moldova', 'République démocratique du Congo',
       'République démocratique populaire lao', 'République dominicaine',
       'République populaire démocratique de Corée',
       'République-Unie de Tanzanie', 'Réunion', 'Roumanie',
       'Royaume-Uni', 'Rwanda', 'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan de Cunha', 'Sainte-Lucie',
       'Saint-Kitts-et-Nevis', 'Saint-Marin',
       'Saint-Martin (Partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Saint-Vincent-et-les Grenadines', 'Samoa',
       'Samoa américaines', 'Sao Tomé-et-Principe', 'Sénégal', 'Serbie',
       'Seychelles', 'Sierra Leone', 'Singapour',
       'Sint Maarten (Partie Néerlandaise)', 'Slovaquie', 'Slovénie',
       'Somalie', 'Soudan', 'Soudan du Sud', 'Sri Lanka', 'Suède',
       'Suisse', 'Suriname', 'Tadjikistan', 'Tchad', 'Tchéquie (la)',
       'Thaïlande', 'Timor-Leste', 'Togo', 'Tokélaou', 'Tonga',
       'Trinité-et-Tobago', 'Tunisie', 'Turkménistan', 'Turquie',
       'Tuvalu', 'Ukraine', 'Uruguay', 'Vanuatu',
       'Venezuela (République bolivarienne du)', 'Viet Nam', 'Yémen',
       'Zambie', 'Zimbabwe'], dtype=object)

Chine apparait plusieurs fois

In [13]:
pop[pop["Zone"]=="Chine"]
# Seule occurrence à conserver

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
123,OA,Séries temporelles annuelles,351,Chine,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,1422971.062,NaN
124,OA,Séries temporelles annuelles,351,Chine,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,1452625.244,NaN
125,OA,Séries temporelles annuelles,351,Chine,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,1459377.612,NaN

In [30]:
pop[pop["Zone"]=="Chine - RAS de Hong-Kong"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
126,OA,Séries temporelles annuelles,96,Chine - RAS de Hong-Kong,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,7088.778,NaN
127,OA,Séries temporelles annuelles,96,Chine - RAS de Hong-Kong,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,7306.322,NaN
128,OA,Séries temporelles annuelles,96,Chine - RAS de Hong-Kong,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,7371.730,NaN

In [31]:
pop[pop["Zone"]=="Chine - RAS de Macao"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
129,OA,Séries temporelles annuelles,128,Chine - RAS de Macao,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,577.372,NaN
130,OA,Séries temporelles annuelles,128,Chine - RAS de Macao,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,622.585,NaN
131,OA,Séries temporelles annuelles,128,Chine - RAS de Macao,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,631.636,NaN

In [32]:
pop[pop["Zone"]=="Chine, continentale"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
132,OA,Séries temporelles annuelles,41,"Chine, continentale",511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,1391883.330,NaN
133,OA,Séries temporelles annuelles,41,"Chine, continentale",511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,1421021.791,NaN
134,OA,Séries temporelles annuelles,41,"Chine, continentale",511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,1427647.786,NaN

In [33]:
pop[pop["Zone"]=="Chine, Taiwan Province de"]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
135,OA,Séries temporelles annuelles,214,"Chine, Taiwan Province de",511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,23421.582,NaN
136,OA,Séries temporelles annuelles,214,"Chine, Taiwan Province de",511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,23674.546,NaN
137,OA,Séries temporelles annuelles,214,"Chine, Taiwan Province de",511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,23726.460,NaN

In [14]:
# Je garde seulement la ligne "Chine" et supprime les autres
pop = pop.drop([126,127,128,129,130,131,132,133,134,135,136,137])

In [15]:
# Recalcul des pop 2013,2017,2018
pop_gb2 = (pop.groupby("Année").sum())*1000

In [16]:
pop_gb2['Valeur']

Année
2013    7.210846e+09
2017    7.548134e+09
2018    7.631369e+09
Name: Valeur, dtype: float64

# QUESTION 3

# Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

## Disponibilité alimentaire en kcal

In [17]:
# Import des données des bilans alimentaires 2017 
veg = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/vegetal2017.csv")
ani = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/animal2017.csv")

In [18]:
# Ajout de la variable origin
ani["origin"] = "animal"
veg["origin"] = "vegetal"

In [19]:
# On regroupe veg et ani en un unique dataframe, via une union
temp = ani.append(veg)

In [20]:
# Suppression de ani et veg
del ani, veg

In [21]:
# On renomme les colonnes de temp
temp.columns = ["xx","xx2","country_code","country",'xx3','element','item_code','item','xx4',"year","unit","value"
                ,'origin']

In [22]:
# Vérification
temp.head()

,xx,xx2,country_code,country,xx3,element,item_code,item,xx4,year,unit,value,origin
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2731,Viande de Bovins,2017,2017,Milliers de tonnes,94.0,animal
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2017,2017,Milliers de tonnes,6.0,animal
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2731,Viande de Bovins,2017,2017,Milliers de tonnes,-0.0,animal
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2017,2017,Milliers de tonnes,100.0,animal
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2731,Viande de Bovins,2017,2017,Milliers de tonnes,5.0,animal

In [23]:
# Transformation de temp en table pivot
data = temp.pivot_table(index=["country_code","country","item_code","item","year","origin"],columns = ["element"], 
values=["value"], aggfunc=sum)

In [24]:
data.head()

                                                                         value  \
element                                            Alimentation pour touristes
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                         NaN
                     2513      Orge   2017 vegetal                         NaN
                     2514      Maïs   2017 vegetal                         NaN
                     2515      Seigle 2017 vegetal                         NaN
                     2516      Avoine 2017 vegetal                         NaN

                                                                          \
element                                            Aliments pour animaux
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                 105.0
                     2513      Orge   2017 vegetal                  91.0
                     2514      Maïs   2017 vegetal                  32.0
                     2515      Seigle 2017 vegetal                   0.0
                     2516      Avoine 2017 vegetal                   6.0

                                                                                          \
element                                            Autres utilisations (non alimentaire)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                                   0.0
                     2513      Orge   2017 vegetal                                   6.0
                     2514      Maïs   2017 vegetal                                   NaN
                     2515      Seigle 2017 vegetal                                   NaN
                     2516      Avoine 2017 vegetal                                   NaN

                                                                                                   \
element                                            Disponibilité alimentaire (Kcal/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                                         1053.0
                     2513      Orge   2017 vegetal                                            4.0
                     2514      Maïs   2017 vegetal                                           68.0
                     2515      Seigle 2017 vegetal                                            1.0
                     2516      Avoine 2017 vegetal                                            7.0

                                                                                                           \
element                                            Disponibilité alimentaire en quantité (kg/personne/an)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                                             132.49
                     2513      Orge   2017 vegetal                                               0.54
                     2514      Maïs   2017 vegetal                                               7.48
                     2515      Seigle 2017 vegetal                                               0.14
                     2516      Avoine 2017 vegetal                                               0.65

                                                                                                                  \
element                                            Disponibilité de matière grasse en quantité (g/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                                               3.97
                     2513      Orge   2017 vegetal                                               0.02
                     2514      Maïs   2017 vegetal                                               0.60
                     2515      Seigle 2017 vegetal                                               0.01
                     2516      Avoine 2017 vegetal                                               0.12

                                                                                                             \
element                                            Disponibilité de protéines en quantité (g/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                                              31.35
                     2513      Orge   2017 vegetal                                               0.15
                     2514      Maïs   2017 vegetal                                               2.64
                     2515      Seigle 2017 vegetal                                               0.03
                     2516      Avoine 2017 vegetal                                               0.26

                                                                             \
element                                            Disponibilité intérieure
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                    558.0
                     2513      Orge   2017 vegetal                    114.0
                     2514      Maïs   2017 vegetal                     58.0
                     2515      Seigle 2017 vegetal                      1.0
                     2516      Avoine 2017 vegetal                      7.0

                                                                            \
element                                            Exportations - Quantité
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                     1.0
                     2513      Orge   2017 vegetal                     0.0
                     2514      Maïs   2017 vegetal                     0.0
                     2515      Seigle 2017 vegetal                     NaN
                     2516      Avoine 2017 vegetal                     NaN

                                                                            \
element                                            Importations - Quantité
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal                   337.0
                     2513      Orge   2017 vegetal                    14.0
                     2514      Maïs   2017 vegetal                    48.0
                     2515      Seigle 2017 vegetal                     0.0
                     2516      Avoine 2017 vegetal                     1.0

                                                                      \
element                                            Nourriture Pertes
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal      390.0   10.0
                     2513      Orge   2017 vegetal        2.0   10.0
                     2514      Maïs   2017 vegetal       22.0    4.0
                     2515      Seigle 2017 vegetal        0.0    0.0
                     2516      Avoine 2017 vegetal        2.0    0.0

                                                                       \
element                                            Production Résidus
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal      176.0   -31.0
                     2513      Orge   2017 vegetal       93.0   -12.0
                     2514      Maïs   2017 vegetal       10.0     0.0
                     2515      Seigle 2017 vegetal        0.0     0.0
                     2516      Avoine 2017 vegetal        6.0    -2.0

                                                                        \
element                                            Semences Traitement
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal     25.0       60.0
                     2513      Orge   2017 vegetal     13.0        4.0
                     2514      Maïs   2017 vegetal      0.0        0.0
                     2515      Seigle 2017 vegetal      0.0        0.0
                     2516      Avoine 2017 vegetal      1.0        NaN


element                                            Variation de stock
country_code country item_code item   year origin
1            Arménie 2511      Blé    2017 vegetal              -45.0
                     2513      Orge   2017 vegetal               -7.0
                     2514      Maïs   2017 vegetal                1.0
                     2515      Seigle 2017 vegetal                0.0
                     2516      Avoine 2017 vegetal                0.0

In [25]:
# On renomme les colonnes
data.columns = ['aliments pour touristes','aliments pour animaux','autres utilisations (non alimentaire)',
                'disponibilité alimentaire (Kcal/personne/jour)','disponibilité alimentaire en quantité (kg/personne/an)',
                'Disponibilité de matière grasse en quantité (g/personne/jour)',
                'Disponibilité de protéines en quantité (g/personne/jour)','disponibilité intérieure (en milliers de tonnes)', 'export-qté',
                'import-qté','nourriture','pertes', 'production','résidus','semences','traitement','variation de stock']

In [26]:
data = data.reset_index()

In [27]:
data.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,disponibilité intérieure (en milliers de tonnes),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation de stock
0,1,Arménie,2511,Blé,2017,vegetal,NaN,105.0,0.0,1053.0,...,558.0,1.0,337.0,390.0,10.0,176.0,-31.0,25.0,60.0,-45.0
1,1,Arménie,2513,Orge,2017,vegetal,NaN,91.0,6.0,4.0,...,114.0,0.0,14.0,2.0,10.0,93.0,-12.0,13.0,4.0,-7.0
2,1,Arménie,2514,Maïs,2017,vegetal,NaN,32.0,NaN,68.0,...,58.0,0.0,48.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0
3,1,Arménie,2515,Seigle,2017,vegetal,NaN,0.0,NaN,1.0,...,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,Arménie,2516,Avoine,2017,vegetal,NaN,6.0,NaN,7.0,...,7.0,NaN,1.0,2.0,0.0,6.0,-2.0,1.0,NaN,0.0

In [28]:
data.shape

(16144, 23)

In [29]:
data.dtypes

country_code                                                       int64
country                                                           object
item_code                                                          int64
item                                                              object
year                                                               int64
origin                                                            object
aliments pour touristes                                          float64
aliments pour animaux                                            float64
autres utilisations (non alimentaire)                            float64
disponibilité alimentaire (Kcal/personne/jour)                   float64
disponibilité alimentaire en quantité (kg/personne/an)           float64
Disponibilité de matière grasse en quantité (g/personne/jour)    float64
Disponibilité de protéines en quantité (g/personne/jour)         float64
disponibilité intérieure (en milliers de tonnes)                 float64
export-qté                                                       float64
import-qté                                                       float64
nourriture                                                       float64
pertes                                                           float64
production                                                       float64
résidus                                                          float64
semences                                                         float64
traitement                                                       float64
variation de stock                                               float64
dtype: object

In [31]:
data.describe(include='all')

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,disponibilité intérieure (en milliers de tonnes),export-qté,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation de stock
count,16144.000000,16144,16144.000000,16144,16144.0,16144,5642.000000,4234.000000,5367.000000,14570.000000,...,16002.000000,12208.000000,15356.000000,14592.000000,5874.000000,10426.000000,12652.000000,2137.00000,3591.000000,11387.000000
unique,NaN,175,NaN,98,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,République-Unie de Tanzanie,NaN,Poissons Eau Douce,NaN,vegetal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,97,NaN,175,NaN,12385,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,127.753097,NaN,2630.255389,NaN,2017.0,NaN,0.116271,456.463864,194.186138,33.962594,...,836.356643,133.946347,111.332574,454.947231,126.376575,1287.994149,-3.086390,94.06832,797.702311,10.928339
std,74.682361,NaN,91.353390,NaN,0.0,NaN,3.757159,5115.490878,4992.262877,106.700897,...,11221.313390,1375.156449,1289.033933,6709.830696,1512.524875,14166.947298,52.394586,707.36851,8998.555552,401.205638
min,1.000000,NaN,2511.000000,NaN,2017.0,NaN,-52.000000,-2.000000,-1.000000,0.000000,...,-828.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2912.000000,0.00000,0.000000,-10388.000000
25%,66.000000,NaN,2558.000000,NaN,2017.0,NaN,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000
50%,122.000000,NaN,2612.000000,NaN,2017.0,NaN,0.000000,1.000000,0.000000,3.000000,...,6.000000,0.000000,2.000000,4.000000,2.000000,15.000000,0.000000,2.00000,2.000000,0.000000
75%,189.000000,NaN,2732.000000,NaN,2017.0,NaN,0.000000,33.000000,5.000000,20.000000,...,79.000000,10.000000,18.000000,51.000000,20.000000,164.000000,0.000000,19.00000,44.000000,0.000000
max,351.000000,NaN,2899.000000,NaN,2017.0,NaN,166.000000,191859.000000,319603.000000,1785.000000,...,758548.000000,68156.000000,98119.000000,477481.000000,83476.000000,758548.000000,1870.000000,22501.00000,345510.000000,25089.000000

In [164]:
data.isnull().sum()

country_code                                                         0
country                                                              0
item_code                                                            0
item                                                                 0
year                                                                 0
origin                                                               0
aliments pour touristes                                          10502
aliments pour animaux                                            11910
autres utilisations (non alimentaire)                            10777
disponibilité alimentaire (Kcal/personne/jour)                    1574
disponibilité alimentaire en quantité (kg/personne/an)            1432
Disponibilité de matière grasse en quantité (g/personne/jour)     1538
Disponibilité de protéines en quantité (g/personne/jour)          1543
disponibilité intérieure (en milliers de tonnes)                   142
export-qté                                                        3936
import-qté                                                         788
nourriture                                                        1552
pertes                                                           10270
production                                                        5718
résidus                                                           3492
semences                                                         14007
traitement                                                       12553
variation de stock                                                4757
dtype: int64

In [32]:
# Je vais chercher la population de l'année 2017 : 
pop2017 = pop[pop["Année"]==2017]

In [33]:
pop2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,NaN
4,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,NaN
7,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,NaN
10,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,NaN
13,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,NaN

In [34]:
# J'enlève les colonnes inutiles
pop2017 = pop2017.drop(["Code Domaine", "Domaine", "Code Élément", "Code Produit", "Produit", "Code année","Note"], axis=1).head()

In [35]:
pop2017.head()

,Code zone,Zone,Élément,Année,Unité,Valeur
1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113
4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756
7,3,Albanie,Population totale,2017,1000 personnes,2884.169
10,4,Algérie,Population totale,2017,1000 personnes,41389.189
13,79,Allemagne,Population totale,2017,1000 personnes,82658.409

In [36]:
# Je créé la colonne population
pop2017['population'] = pop2017['Valeur'] * 1000

In [37]:
pop2017.head()

,Code zone,Zone,Élément,Année,Unité,Valeur,population
1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113,36296113.0
4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756,57009756.0
7,3,Albanie,Population totale,2017,1000 personnes,2884.169,2884169.0
10,4,Algérie,Population totale,2017,1000 personnes,41389.189,41389189.0
13,79,Allemagne,Population totale,2017,1000 personnes,82658.409,82658409.0

In [38]:
# Je modifie le type de population en entier
pop2017 = pop2017.astype({'population':'int'})

In [39]:
pop2017['population'].dtypes

dtype('int32')

In [40]:
pop2017.head()

,Code zone,Zone,Élément,Année,Unité,Valeur,population
1,2,Afghanistan,Population totale,2017,1000 personnes,36296.113,36296113
4,202,Afrique du Sud,Population totale,2017,1000 personnes,57009.756,57009755
7,3,Albanie,Population totale,2017,1000 personnes,2884.169,2884169
10,4,Algérie,Population totale,2017,1000 personnes,41389.189,41389189
13,79,Allemagne,Population totale,2017,1000 personnes,82658.409,82658409

In [41]:
# Je garde les colonnes utiles pour la jointure
pop2017 = pop2017[['Code zone','population']]

In [42]:
pop2017.head()

    Code zone  population
1           2    36296113
4         202    57009755
7           3     2884169
10          4    41389189
13         79    82658409

In [43]:
# Jointure entre data et pop2017 sur Code zone 
datapop2017 = pd.merge(data, pop2017, left_on=['country_code'], right_on=['Code zone'])

In [44]:
datapop2017.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation de stock,Code zone,population
0,2,Afghanistan,2511,Blé,2017,vegetal,NaN,76.0,NaN,1331.0,...,2302.0,5640.0,642.0,4281.0,0.0,344.0,NaN,-119.0,2,36296113
1,2,Afghanistan,2513,Orge,2017,vegetal,NaN,67.0,NaN,5.0,...,15.0,18.0,14.0,95.0,0.0,11.0,NaN,0.0,2,36296113
2,2,Afghanistan,2514,Maïs,2017,vegetal,NaN,111.0,NaN,11.0,...,13.0,50.0,26.0,174.0,0.0,21.0,NaN,-21.0,2,36296113
3,2,Afghanistan,2515,Seigle,2017,vegetal,NaN,0.0,NaN,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,2,36296113
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,2,36296113

In [45]:
datapop2017.describe(include='all')

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,import-qté,nourriture,pertes,production,résidus,semences,traitement,variation de stock,Code zone,population
count,456.000000,456,456.000000,456,456.0,456,150.0,130.000000,141.000000,398.000000,...,442.000000,404.000000,184.000000,322.000000,387.000000,71.000000,119.000000,343.000000,456.000000,4.560000e+02
unique,NaN,5,NaN,96,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Afrique du Sud,NaN,Graines de tournesol,NaN,vegetal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,95,NaN,5,NaN,356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,60.313596,NaN,2627.984649,NaN,2017.0,NaN,0.0,356.246154,88.226950,38.412060,...,227.889140,394.477723,76.163043,866.105590,-4.322997,39.507042,620.957983,3.501458,60.313596,4.455681e+07
std,78.629723,NaN,90.355572,NaN,0.0,NaN,0.0,1231.575439,271.492472,135.644988,...,875.789623,1504.134206,229.282691,3447.442817,29.337090,106.699427,3380.632175,251.838827,78.629723,2.647551e+07
min,2.000000,NaN,2511.000000,NaN,2017.0,NaN,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-359.000000,0.000000,0.000000,-3336.000000,2.000000,2.884169e+06
25%,3.000000,NaN,2557.750000,NaN,2017.0,NaN,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.629611e+07
50%,4.000000,NaN,2612.000000,NaN,2017.0,NaN,0.0,4.500000,0.000000,3.000000,...,7.000000,15.000000,7.000000,29.000000,0.000000,3.000000,9.000000,0.000000,4.000000,4.138919e+07
75%,79.000000,NaN,2731.000000,NaN,2017.0,NaN,0.0,62.500000,14.000000,21.000000,...,71.750000,147.000000,43.250000,319.750000,0.000000,21.500000,83.000000,0.000000,79.000000,5.700976e+07
max,202.000000,NaN,2899.000000,NaN,2017.0,NaN,0.0,8846.000000,1846.000000,1427.000000,...,10376.000000,22113.000000,1703.000000,34060.000000,81.000000,588.000000,31503.000000,2579.000000,202.000000,8.265841e+07

In [46]:
# Vérification de l'absence d'occurrences muliples de la Chine
datapop2017[datapop2017["country"]=="Chine - RAS de Hong-Kong"]

Empty DataFrame
Columns: [country_code, country, item_code, item, year, origin, aliments pour touristes, aliments pour animaux, autres utilisations (non alimentaire), disponibilité alimentaire (Kcal/personne/jour), disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), disponibilité intérieure (en milliers de tonnes), export-qté, import-qté, nourriture, pertes, production, résidus, semences, traitement, variation de stock, Code zone, population]
Index: []

[0 rows x 25 columns]

In [47]:
print(datapop2017.isnull().sum())

country_code                                                       0
country                                                            0
item_code                                                          0
item                                                               0
year                                                               0
origin                                                             0
aliments pour touristes                                          306
aliments pour animaux                                            326
autres utilisations (non alimentaire)                            315
disponibilité alimentaire (Kcal/personne/jour)                    58
disponibilité alimentaire en quantité (kg/personne/an)            52
Disponibilité de matière grasse en quantité (g/personne/jour)     57
Disponibilité de protéines en quantité (g/personne/jour)          57
disponibilité intérieure (en milliers de tonnes)                   0
export-qté                                                        88
import-qté                                                        14
nourriture                                                        52
pertes                                                           272
production                                                       134
résidus                                                           69
semences                                                         385
traitement                                                       337
variation de stock                                               113
Code zone                                                          0
population                                                         0
dtype: int64

In [48]:
datapop2017['disponibilité alimentaire (Kcal/personne/jour)'].describe()

count     398.000000
mean       38.412060
std       135.644988
min         0.000000
25%         0.000000
50%         3.000000
75%        21.000000
max      1427.000000
Name: disponibilité alimentaire (Kcal/personne/jour), dtype: float64

In [50]:
# Création de la colonne disponibilité alimentaire (Kcal/pays/jour)
datapop2017['disponibilité alimentaire (kcal/pays/jour)'] = datapop2017['disponibilité alimentaire (Kcal/personne/jour)'] * datapop2017['population']

In [51]:
datapop2017.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,nourriture,pertes,production,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour)
0,2,Afghanistan,2511,Blé,2017,vegetal,NaN,76.0,NaN,1331.0,...,5640.0,642.0,4281.0,0.0,344.0,NaN,-119.0,2,36296113,4.831013e+10
1,2,Afghanistan,2513,Orge,2017,vegetal,NaN,67.0,NaN,5.0,...,18.0,14.0,95.0,0.0,11.0,NaN,0.0,2,36296113,1.814806e+08
2,2,Afghanistan,2514,Maïs,2017,vegetal,NaN,111.0,NaN,11.0,...,50.0,26.0,174.0,0.0,21.0,NaN,-21.0,2,36296113,3.992572e+08
3,2,Afghanistan,2515,Seigle,2017,vegetal,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,0.0,2,36296113,NaN
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,2,36296113,NaN

In [52]:
# Vérification du nb de données manquantes dans la colonne disponibilité alimentaire (Kcal/personne/jour)
data['disponibilité alimentaire (Kcal/personne/jour)'].isnull().sum()

1574

## Disponibilité alimentaire en kg de protéines

In [53]:
datapop2017['Disponibilité de protéines en quantité (g/personne/jour)'].describe()

count    399.000000
mean       1.137519
std        4.547412
min        0.000000
25%        0.000000
50%        0.030000
75%        0.325000
max       43.080000
Name: Disponibilité de protéines en quantité (g/personne/jour), dtype: float64

In [54]:
# Création de la colonne Disponibilité alimentaire (kg de protéines/pays/jour)
datapop2017['disponibilité alimentaire (Kg de protéines/pays/jour)'] = datapop2017['Disponibilité de protéines en quantité (g/personne/jour)'] * datapop2017['population'] * 1000

In [55]:
datapop2017.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,pertes,production,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour)
0,2,Afghanistan,2511,Blé,2017,vegetal,NaN,76.0,NaN,1331.0,...,642.0,4281.0,0.0,344.0,NaN,-119.0,2,36296113,4.831013e+10,1.302305e+12
1,2,Afghanistan,2513,Orge,2017,vegetal,NaN,67.0,NaN,5.0,...,14.0,95.0,0.0,11.0,NaN,0.0,2,36296113,1.814806e+08,5.081456e+09
2,2,Afghanistan,2514,Maïs,2017,vegetal,NaN,111.0,NaN,11.0,...,26.0,174.0,0.0,21.0,NaN,-21.0,2,36296113,3.992572e+08,9.799951e+09
3,2,Afghanistan,2515,Seigle,2017,vegetal,NaN,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,2,36296113,NaN,NaN
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,2,36296113,NaN,NaN

In [56]:
datapop2017.shape

(456, 27)

# QUESTION 4

# A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg.    
# En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées).

### Ratio "énergie/poids"

Vu sur Wikipédia : moyenne valeur calorique d'un oeuf = 147 kcal/100g = 1470 kcal/kg  
Calcul :  
Ratio énergie/poids = Disponibilité alimentaire (Kcal/pays/jour)/Disponibilité alimentaire en quantité (kg/pays/jour)

In [57]:
datapop2017['disponibilité alimentaire en quantité (kg/personne/an)'].describe()

count    404.000000
mean       9.693490
std       32.523704
min        0.000000
25%        0.020000
50%        0.410000
75%        4.952500
max      396.340000
Name: disponibilité alimentaire en quantité (kg/personne/an), dtype: float64

In [61]:
# Création de la colonne 'disponibilité alimentaire en quantité (kg/pays/jour)'
datapop2017['disponibilité alimentaire en quantité (kg/pays/jour)'] = datapop2017['disponibilité alimentaire en quantité (kg/personne/an)'] * datapop2017['population'] / 365

In [62]:
datapop2017.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,production,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour)
0,2,Afghanistan,2511,Blé,2017,vegetal,NaN,76.0,NaN,1331.0,...,4281.0,0.0,344.0,NaN,-119.0,2,36296113,4.831013e+10,1.302305e+12,1.545220e+07
1,2,Afghanistan,2513,Orge,2017,vegetal,NaN,67.0,NaN,5.0,...,95.0,0.0,11.0,NaN,0.0,2,36296113,1.814806e+08,5.081456e+09,5.071512e+04
2,2,Afghanistan,2514,Maïs,2017,vegetal,NaN,111.0,NaN,11.0,...,174.0,0.0,21.0,NaN,-21.0,2,36296113,3.992572e+08,9.799951e+09,1.372291e+05
3,2,Afghanistan,2515,Seigle,2017,vegetal,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,2,36296113,NaN,NaN,0.000000e+00
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,2,36296113,NaN,NaN,0.000000e+00

In [63]:
datapop2017['disponibilité alimentaire en quantité (kg/pays/jour)'].dtypes

dtype('float64')

In [65]:
# Création de la colonne 'ratio énergie/poids'
datapop2017['ratio énergie/poids (Kcal/kg)'] = datapop2017['disponibilité alimentaire (kcal/pays/jour)'] / datapop2017['disponibilité alimentaire en quantité (kg/pays/jour)']

In [68]:
 # Vérification pour les oeufs
datapop2017[datapop2017['item']=='Oeufs']

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg)
76,2,Afghanistan,2744,Oeufs,2017,animal,NaN,8.0,NaN,6.0,...,0.0,5.0,NaN,NaN,2,36296113,2.177767e+08,1.597029e+10,1.491621e+05,1460.000000
158,3,Albanie,2744,Oeufs,2017,animal,NaN,NaN,NaN,55.0,...,0.0,0.0,NaN,0.0,3,2884169,1.586293e+08,1.245961e+10,1.158409e+05,1369.372442
250,4,Algérie,2744,Oeufs,2017,animal,0.0,3.0,NaN,28.0,...,0.0,27.0,NaN,0.0,4,41389189,1.158897e+09,9.933405e+10,9.559202e+05,1212.336892
345,79,Allemagne,2744,Oeufs,2017,animal,NaN,130.0,0.0,44.0,...,0.0,75.0,NaN,0.0,79,82658409,3.636970e+09,2.942639e+11,2.540897e+06,1431.372549
440,202,Afrique du Sud,2744,Oeufs,2017,animal,0.0,NaN,NaN,26.0,...,-60.0,60.0,NaN,NaN,202,57009755,1.482254e+09,1.180102e+11,1.032423e+06,1435.703480

#### La question 6 me fait reprendre cette question car j'obtiens des données incohérentes.

In [69]:
datapop2017['ratio énergie/poids (Kcal/kg)'].describe()

count     333.000000
mean             inf
std              NaN
min         0.000000
25%       394.594595
50%      1431.372549
75%      3606.287425
max              inf
Name: ratio énergie/poids (Kcal/kg), dtype: float64

##### Nettoyage de 'ratio énergie/poids (Kcal/kg)' : 0, NaN, inf

In [71]:
datapop2017REP = datapop2017[datapop2017['ratio énergie/poids (Kcal/kg)'] != 0]

In [72]:
datapop2017REP[datapop2017REP['ratio énergie/poids (Kcal/kg)'] < 0]

Empty DataFrame
Columns: [country_code, country, item_code, item, year, origin, aliments pour touristes, aliments pour animaux, autres utilisations (non alimentaire), disponibilité alimentaire (Kcal/personne/jour), disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), disponibilité intérieure (en milliers de tonnes), export-qté, import-qté, nourriture, pertes, production, résidus, semences, traitement, variation de stock, Code zone, population, disponibilité alimentaire (kcal/pays/jour), disponibilité alimentaire (Kg de protéines/pays/jour), disponibilité alimentaire en quantité (kg/pays/jour), ratio énergie/poids (Kcal/kg)]
Index: []

[0 rows x 29 columns]

In [73]:
datapop2017REP[datapop2017REP['ratio énergie/poids (Kcal/kg)'] > 10000000]

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg)
55,2,Afghanistan,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,2,36296113,3.629611e+07,3.629611e+08,0.0,inf
104,3,Albanie,2558,Graines Colza/Moutarde,2017,vegetal,NaN,0.0,0.0,1.0,...,0.0,NaN,NaN,0.0,3,2884169,2.884169e+06,0.000000e+00,0.0,inf
137,3,Albanie,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,14.0,...,0.0,NaN,0.0,0.0,3,2884169,4.037837e+07,4.903087e+08,0.0,inf
157,3,Albanie,2743,Crème,2017,animal,NaN,NaN,NaN,1.0,...,0.0,NaN,NaN,NaN,3,2884169,2.884169e+06,2.884169e+07,0.0,inf
229,4,Algérie,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,6.0,...,0.0,NaN,5.0,0.0,4,41389189,2.483351e+08,7.450054e+09,0.0,inf
290,79,Allemagne,2558,Graines Colza/Moutarde,2017,vegetal,NaN,44.0,NaN,3.0,...,0.0,3.0,10355.0,-307.0,79,82658409,2.479752e+08,0.000000e+00,0.0,inf
303,79,Allemagne,2577,Huile de Palme,2017,vegetal,NaN,NaN,252.0,55.0,...,0.0,NaN,359.0,-33.0,79,82658409,4.546212e+09,4.132920e+09,0.0,inf
304,79,Allemagne,2578,Huile de Coco,2017,vegetal,NaN,NaN,12.0,8.0,...,0.0,NaN,54.0,31.0,79,82658409,6.612673e+08,8.265841e+08,0.0,inf
305,79,Allemagne,2579,Huile de Sésame,2017,vegetal,NaN,NaN,0.0,2.0,...,0.0,NaN,11.0,2.0,79,82658409,1.653168e+08,0.000000e+00,0.0,inf
324,79,Allemagne,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,22.0,...,0.0,NaN,423.0,0.0,79,82658409,1.818485e+09,2.562411e+10,0.0,inf
419,202,Afrique du Sud,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,5.0,...,0.0,NaN,6.0,0.0,202,57009755,2.850488e+08,5.130878e+09,0.0,inf

In [74]:
# Je supprime les lignes contenant 'inf'. 
datapop2017REP = datapop2017REP.drop([55,104,137,157,229,290,303,304,305,324,419])

In [75]:
datapop2017REP['ratio énergie/poids (Kcal/kg)'].describe()

count      264.000000
mean      3480.609213
std       6402.712298
min        155.982906
25%        682.782131
50%       2397.680098
75%       3842.105263
max      94652.542373
Name: ratio énergie/poids (Kcal/kg), dtype: float64

In [76]:
datapop2017REP['ratio énergie/poids (Kcal/kg)'].max()

94652.54237288136

In [79]:
# Je vérifie la donnée max pour voir si elle est cohérente
datapop2017REP[datapop2017REP['ratio énergie/poids (Kcal/kg)']==94652.54237288136]

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg)
342,79,Allemagne,2737,Graisses Animales Crue,2017,animal,NaN,63.0,761.0,153.0,...,0.0,NaN,9.0,14.0,79,82658409,1.264674e+10,826584090.0,133612.222767,94652.542373

In [80]:
datapop2017REP.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg)
0,2,Afghanistan,2511,Blé,2017,vegetal,NaN,76.0,NaN,1331.0,...,0.0,344.0,NaN,-119.0,2,36296113,4.831013e+10,1.302305e+12,1.545220e+07,3126.423837
1,2,Afghanistan,2513,Orge,2017,vegetal,NaN,67.0,NaN,5.0,...,0.0,11.0,NaN,0.0,2,36296113,1.814806e+08,5.081456e+09,5.071512e+04,3578.431373
2,2,Afghanistan,2514,Maïs,2017,vegetal,NaN,111.0,NaN,11.0,...,0.0,21.0,NaN,-21.0,2,36296113,3.992572e+08,9.799951e+09,1.372291e+05,2909.420290
3,2,Afghanistan,2515,Seigle,2017,vegetal,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,0.0,2,36296113,NaN,NaN,0.000000e+00,NaN
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,2,36296113,NaN,NaN,0.000000e+00,NaN

### En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total" (attention aux unités utilisées).

Teneur en protéines de l'avoine : 10.70g par 100g soit 10.7%

In [81]:
# Création de la colonne disponibilité alimentaire en quantité (g/personne/jour) à partir de la colonne disponibilité 
# alimentaire en quantité (kg/personne/an)
datapop2017['disponibilité alimentaire en quantité (g/personne/jour)'] = datapop2017['disponibilité alimentaire en quantité (kg/personne/an)'] * 1000 / 365

In [82]:
# Création de la colonne '% de protéines'
datapop2017['% de protéines'] =  datapop2017['Disponibilité de protéines en quantité (g/personne/jour)'] / datapop2017['disponibilité alimentaire en quantité (g/personne/jour)'] * 100

In [83]:
datapop2017.head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg),disponibilité alimentaire en quantité (g/personne/jour),% de protéines
0,2,Afghanistan,2511,Blé,2017,vegetal,NaN,76.0,NaN,1331.0,...,NaN,-119.0,2,36296113,4.831013e+10,1.302305e+12,1.545220e+07,3126.423837,425.726027,8.427955
1,2,Afghanistan,2513,Orge,2017,vegetal,NaN,67.0,NaN,5.0,...,NaN,0.0,2,36296113,1.814806e+08,5.081456e+09,5.071512e+04,3578.431373,1.397260,10.019608
2,2,Afghanistan,2514,Maïs,2017,vegetal,NaN,111.0,NaN,11.0,...,NaN,-21.0,2,36296113,3.992572e+08,9.799951e+09,1.372291e+05,2909.420290,3.780822,7.141304
3,2,Afghanistan,2515,Seigle,2017,vegetal,NaN,0.0,NaN,NaN,...,NaN,0.0,2,36296113,NaN,NaN,0.000000e+00,NaN,0.000000,NaN
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,NaN,NaN,2,36296113,NaN,NaN,0.000000e+00,NaN,0.000000,NaN

In [84]:
# Vérification
datapop2017[datapop2017['item']=='Avoine']

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg),disponibilité alimentaire en quantité (g/personne/jour),% de protéines
4,2,Afghanistan,2516,Avoine,2017,vegetal,NaN,NaN,NaN,NaN,...,NaN,NaN,2,36296113,NaN,NaN,0.000000,NaN,0.000000,NaN
86,3,Albanie,2516,Avoine,2017,vegetal,NaN,30.0,NaN,1.0,...,NaN,0.0,3,2884169,2884169.0,1.153668e+08,632.146630,4562.500000,0.219178,18.250000
178,4,Algérie,2516,Avoine,2017,vegetal,0.0,61.0,NaN,0.0,...,NaN,0.0,4,41389189,0.0,0.000000e+00,1133.950384,0.000000,0.027397,0.000000
270,79,Allemagne,2516,Avoine,2017,vegetal,NaN,556.0,0.0,9.0,...,NaN,188.0,79,82658409,743925681.0,2.893044e+10,276282.901315,2692.622951,3.342466,10.471311
365,202,Afrique du Sud,2516,Avoine,2017,vegetal,0.0,22.0,NaN,6.0,...,NaN,55.0,202,57009755,342058530.0,1.140195e+10,154629.198493,2212.121212,2.712329,7.373737

# QUESTION 5

## Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [85]:
# datapop2017REP[datapop2017REP['ratio énergie/poids (Kcal/kg)']==0].head()

Empty DataFrame
Columns: [country_code, country, item_code, item, year, origin, aliments pour touristes, aliments pour animaux, autres utilisations (non alimentaire), disponibilité alimentaire (Kcal/personne/jour), disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), disponibilité intérieure (en milliers de tonnes), export-qté, import-qté, nourriture, pertes, production, résidus, semences, traitement, variation de stock, Code zone, population, disponibilité alimentaire (kcal/pays/jour), disponibilité alimentaire (Kg de protéines/pays/jour), disponibilité alimentaire en quantité (kg/pays/jour), ratio énergie/poids (Kcal/kg)]
Index: []

[0 rows x 29 columns]

In [87]:
# Moyenne ratio énergie/poids par item
datapop2017REP.groupby('item').mean().filter(['ratio énergie/poids (Kcal/kg)']).sort_values(by = 'ratio énergie/poids (Kcal/kg)',ascending=False).head()

                        ratio énergie/poids (Kcal/kg)
item
Graisses Animales Crue                   26015.828523
Huile de Sésame                          18250.000000
Huile de Germe de Maïs                    9859.651424
Huile de Tournesol                        8872.384855
Huile de Palme                            8834.458718

In [88]:
# nb de valeurs nulles
datapop2017REP['ratio énergie/poids (Kcal/kg)'].isnull().sum()

123

Les 5 aliments les plus caloriques d'après mon df :   
Graisses Animales Crue  
Huile de Sésame  
Huile de Germe de Maïs  
Huile de Tournesol  
Huile de Palme

In [89]:
# Pour la question 6, je créé un df ratio énergie/poids afin d'ensuite faire une jointure :
dfREP = datapop2017REP.groupby('item').mean()

In [90]:
dfREP.head()

,country_code,item_code,year,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,résidus,semences,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg)
item,,,,,,,,,,,,,,,,,,,,,
Abats Comestible,58.000000,2736.0,2017.0,0.0,1.5,38.00,9.800000,3.0160,0.346000,1.474000,...,-48.0,NaN,NaN,0.0,58.000000,44047527.0,3.562820e+08,5.468736e+10,288511.853753,1192.175663
"Agrumes, Autres",40.500000,2614.0,2017.0,NaN,NaN,NaN,1.000000,0.8400,0.005000,0.015000,...,0.0,NaN,NaN,3.0,40.500000,59477261.0,5.947726e+07,7.762532e+08,106394.378630,645.202020
"Alcool, non Comestible",58.000000,2659.0,2017.0,NaN,NaN,198.75,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,0.0,58.000000,44047527.0,NaN,NaN,NaN,NaN
Aliments pour enfants,22.000000,2680.0,2017.0,0.0,NaN,NaN,1.500000,0.1575,0.012500,0.065000,...,0.0,NaN,NaN,1.0,22.000000,40806970.0,5.118426e+07,2.254316e+09,15137.280596,3674.579125
Ananas,94.333333,2618.0,2017.0,0.0,NaN,NaN,1.666667,1.0500,0.003333,0.006667,...,0.0,NaN,NaN,143.0,94.333333,58654759.0,1.292145e+08,5.510561e+08,223964.641543,594.478284

In [91]:
# Suppression de l'index
dfREP = dfREP.reset_index()

In [92]:
# Je ne conserve que les colonnes utiles
dfREP = dfREP[['item','item_code','ratio énergie/poids (Kcal/kg)']]

In [93]:
dfREP.head()

                     item  item_code  ratio énergie/poids (Kcal/kg)
0        Abats Comestible     2736.0                    1192.175663
1         Agrumes, Autres     2614.0                     645.202020
2  Alcool, non Comestible     2659.0                            NaN
3   Aliments pour enfants     2680.0                    3674.579125
4                  Ananas     2618.0                     594.478284

## Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [97]:
# Je vérifie si des valeurs sont = à 0
datapop2017[datapop2017['% de protéines']==0].head()

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg),disponibilité alimentaire en quantité (g/personne/jour),% de protéines
13,2,Afghanistan,2542,Sucre Eq Brut,2017,vegetal,NaN,NaN,NaN,88.0,...,NaN,155.0,2,36296113,3.194058e+09,0.0,906905.617973,3521.929825,24.986301,0.0
14,2,Afghanistan,2543,Edulcorants Autres,2017,vegetal,NaN,NaN,NaN,1.0,...,NaN,0.0,2,36296113,3.629611e+07,0.0,47731.874630,760.416667,1.315068,0.0
26,2,Afghanistan,2563,Olives,2017,vegetal,NaN,NaN,NaN,0.0,...,5.0,0.0,2,36296113,0.000000e+00,0.0,6960.898384,0.000000,0.191781,0.0
28,2,Afghanistan,2571,Huile de Soja,2017,vegetal,NaN,NaN,0.0,7.0,...,NaN,NaN,2,36296113,2.540728e+08,0.0,29832.421644,8516.666667,0.821918,0.0
30,2,Afghanistan,2573,Huile de Tournesol,2017,vegetal,NaN,NaN,0.0,36.0,...,NaN,NaN,2,36296113,1.306660e+09,0.0,146178.866055,8938.775510,4.027397,0.0

In [95]:
# Je supprime les lignes contenant = 0 dans le % de protéines. 
# Je créé un df pour cela. 
datapop2017PROT = datapop2017[datapop2017['% de protéines']!=0]

In [101]:
datapop2017PROT.groupby('item').mean().filter(['% de protéines']).sort_values(by = '% de protéines',ascending=False).head(20)

                          % de protéines
item
Huile de Palme                       inf
Huile de Coco                        inf
Feve de Cacao                        inf
Crème                                inf
Soja                           35.259000
Viande, Autre                  25.531165
Légumineuses Autres            22.948170
Pois                           22.805639
Arachides Decortiquees         22.796219
Haricots                       21.605528
Sésame                         18.250000
Abats Comestible               17.614340
Plantes Oleiferes, Autre       16.590909
Viande de Bovins               14.748155
Cephalopodes                   14.548022
Épices, Autres                 13.755471
Viande de Volailles            13.494358
Viande d'Ovins/Caprins         13.290942
Poissons Pelagiques            11.927164
Aliments pour enfants          11.438510

In [102]:
# Pour trouver les valeurs 'inf'
datapop2017PROT[datapop2017PROT['% de protéines']>1000000000]

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,traitement,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg),disponibilité alimentaire en quantité (g/personne/jour),% de protéines
55,2,Afghanistan,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,1.0,...,NaN,NaN,2,36296113,3.629611e+07,3.629611e+08,0.0,inf,0.0,inf
137,3,Albanie,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,14.0,...,0.0,0.0,3,2884169,4.037837e+07,4.903087e+08,0.0,inf,0.0,inf
157,3,Albanie,2743,Crème,2017,animal,NaN,NaN,NaN,1.0,...,NaN,NaN,3,2884169,2.884169e+06,2.884169e+07,0.0,inf,0.0,inf
229,4,Algérie,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,6.0,...,5.0,0.0,4,41389189,2.483351e+08,7.450054e+09,0.0,inf,0.0,inf
303,79,Allemagne,2577,Huile de Palme,2017,vegetal,NaN,NaN,252.0,55.0,...,359.0,-33.0,79,82658409,4.546212e+09,4.132920e+09,0.0,inf,0.0,inf
304,79,Allemagne,2578,Huile de Coco,2017,vegetal,NaN,NaN,12.0,8.0,...,54.0,31.0,79,82658409,6.612673e+08,8.265841e+08,0.0,inf,0.0,inf
324,79,Allemagne,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,22.0,...,423.0,0.0,79,82658409,1.818485e+09,2.562411e+10,0.0,inf,0.0,inf
419,202,Afrique du Sud,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,5.0,...,6.0,0.0,202,57009755,2.850488e+08,5.130878e+09,0.0,inf,0.0,inf

In [103]:
# Je supprime les lignes contenant 'inf' dans le % de protéines. 
# Je créé un df pour cela. 
datapop2017PROT = datapop2017PROT.drop([55,137,157,229,303,304,324,419])

In [104]:
# Je refais le group by
datapop2017PROT.groupby('item').mean().filter(['% de protéines']).sort_values(by = '% de protéines',ascending=False).head(20)

                          % de protéines
item
Soja                           35.259000
Viande, Autre                  25.531165
Légumineuses Autres            22.948170
Pois                           22.805639
Arachides Decortiquees         22.796219
Haricots                       21.605528
Sésame                         18.250000
Abats Comestible               17.614340
Plantes Oleiferes, Autre       16.590909
Viande de Bovins               14.748155
Cephalopodes                   14.548022
Épices, Autres                 13.755471
Viande de Volailles            13.494358
Viande d'Ovins/Caprins         13.290942
Poissons Pelagiques            11.927164
Aliments pour enfants          11.438510
Noix                           11.247784
Poissons Marins, Autres        11.058215
Oeufs                          10.973087
Viande de Suides               10.268838

Réponse à la question :   
Soja  
Viande, Autre  
Légumineuses Autres  
Pois  
Arachides Decortiquees

## Donnez les résultats des questions 6 à 14 pour l'année 2013 ainsi que pour la dernière année disponible dans les données de la FAO (actuellement 2017).

# QUESTION 6

## Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

## Pour 2013 :

In [105]:
# Import des données des bilans alimentaires 2013
veg13 = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/vegetal2013.csv")
ani13 = pd.read_csv("C:/Users/Zang/Documents/APPRENDER/OPENCLASSROOMS/PARCOURS DA/P3_Etude_de_sante_publique/animal2013.csv")

In [106]:
# Ajout de la variable origin
ani13["origin"] = "animal"
veg13["origin"] = "vegetal"

In [107]:
# On regroupe veg13 et ani13 en un unique dataframe, via une union
temp13 = ani13.append(veg13)

In [108]:
temp13.columns = ["xx","xx2","country_code","country",'xx3','element','item_code','item','xx4',"year","unit","value"
                ,'origin']

In [109]:
# Vérification
temp13.head()

,xx,xx2,country_code,country,xx3,element,item_code,item,xx4,year,unit,value,origin
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,animal
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,animal
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,animal
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,animal
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,animal

In [110]:
# Transformation de temp13 en table pivot
data13 = temp13.pivot_table(index=["country_code","country","item_code","item","year","origin"],columns = ["element"], 
values=["value"], aggfunc=sum)

In [111]:
data13.head()

                                                                   value  \
element                                            Aliments pour animaux
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                  93.0
                     2513      Orge   2013 vegetal                 137.0
                     2514      Maïs   2013 vegetal                  96.0
                     2515      Seigle 2013 vegetal                   1.0
                     2516      Avoine 2013 vegetal                   4.0

                                                                                          \
element                                            Autres utilisations (non alimentaire)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                   0.0
                     2513      Orge   2013 vegetal                                  26.0
                     2514      Maïs   2013 vegetal                                   NaN
                     2515      Seigle 2013 vegetal                                   NaN
                     2516      Avoine 2013 vegetal                                   NaN

                                                                                                   \
element                                            Disponibilité alimentaire (Kcal/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                         1024.0
                     2513      Orge   2013 vegetal                                            0.0
                     2514      Maïs   2013 vegetal                                            0.0
                     2515      Seigle 2013 vegetal                                            1.0
                     2516      Avoine 2013 vegetal                                            2.0

                                                                                                           \
element                                            Disponibilité alimentaire en quantité (kg/personne/an)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                             130.60
                     2513      Orge   2013 vegetal                                               0.00
                     2514      Maïs   2013 vegetal                                               0.03
                     2515      Seigle 2013 vegetal                                               0.12
                     2516      Avoine 2013 vegetal                                               0.37

                                                                                                                  \
element                                            Disponibilité de matière grasse en quantité (g/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                               3.60
                     2513      Orge   2013 vegetal                                               0.00
                     2514      Maïs   2013 vegetal                                                NaN
                     2515      Seigle 2013 vegetal                                               0.00
                     2516      Avoine 2013 vegetal                                               0.03

                                                                                                             \
element                                            Disponibilité de protéines en quantité (g/personne/jour)
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                                              30.52
                     2513      Orge   2013 vegetal                                               0.00
                     2514      Maïs   2013 vegetal                                               0.01
                     2515      Seigle 2013 vegetal                                               0.02
                     2516      Avoine 2013 vegetal                                               0.09

                                                                             \
element                                            Disponibilité intérieure
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                    554.0
                     2513      Orge   2013 vegetal                    198.0
                     2514      Maïs   2013 vegetal                    102.0
                     2515      Seigle 2013 vegetal                      1.0
                     2516      Avoine 2013 vegetal                      6.0

                                                                            \
element                                            Exportations - Quantité
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                     1.0
                     2513      Orge   2013 vegetal                     0.0
                     2514      Maïs   2013 vegetal                     NaN
                     2515      Seigle 2013 vegetal                     NaN
                     2516      Avoine 2013 vegetal                     NaN

                                                                            \
element                                            Importations - Quantité
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal                   361.0
                     2513      Orge   2013 vegetal                     9.0
                     2514      Maïs   2013 vegetal                    82.0
                     2515      Seigle 2013 vegetal                     0.0
                     2516      Avoine 2013 vegetal                     1.0

                                                                      \
element                                            Nourriture Pertes
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal      389.0   32.0
                     2513      Orge   2013 vegetal        0.0   15.0
                     2514      Maïs   2013 vegetal        0.0    7.0
                     2515      Seigle 2013 vegetal        0.0    0.0
                     2516      Avoine 2013 vegetal        1.0    0.0

                                                                        \
element                                            Production Semences
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal      312.0     30.0
                     2513      Orge   2013 vegetal      189.0     14.0
                     2514      Maïs   2013 vegetal       21.0      0.0
                     2515      Seigle 2013 vegetal        1.0      0.0
                     2516      Avoine 2013 vegetal        5.0      0.0

                                                               \
element                                            Traitement
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal       10.0
                     2513      Orge   2013 vegetal        7.0
                     2514      Maïs   2013 vegetal        NaN
                     2515      Seigle 2013 vegetal        NaN
                     2516      Avoine 2013 vegetal        NaN


element                                            Variation de stock
country_code country item_code item   year origin
1            Arménie 2511      Blé    2013 vegetal             -118.0
                     2513      Orge   2013 vegetal                0.0
                     2514      Maïs   2013 vegetal                NaN
                     2515      Seigle 2013 vegetal                0.0
                     2516      Avoine 2013 vegetal                NaN

In [112]:
# On renomme les colonnes
data13.columns = ['aliments pour animaux','autres utilisations (non alimentaire)',
                'disponibilité alimentaire (Kcal/personne/jour)','disponibilité alimentaire en quantité (kg/personne/an)',
                'Disponibilité de matière grasse en quantité (g/personne/jour)',
                'Disponibilité de protéines en quantité (g/personne/jour)','disponibilité intérieure (en milliers de tonnes)', 'export-qté',
                'import-qté','nourriture','pertes', 'production','semences','traitement','variation de stock']

In [113]:
data13 = data13.reset_index()

In [114]:
data13.shape

(15702, 21)

In [115]:
data13 = data13[data13["country"]!="Chine - RAS de Hong-Kong"]

In [116]:
data13 = data13[data13["country"]!="Chine - RAS de Macao"]

In [117]:
data13 = data13[data13["country"]!="Chine, continentale"]

In [118]:
data13 = data13[data13["country"]!="Chine, Taiwan Province de"]

In [119]:
data13.shape

(15325, 21)

In [120]:
data13.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),disponibilité alimentaire en quantité (kg/personne/an),...,Disponibilité de protéines en quantité (g/personne/jour),disponibilité intérieure (en milliers de tonnes),export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation de stock
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,...,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,...,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,...,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,...,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN

In [121]:
pop2013 = pop[pop["Année"]==2013]

In [122]:
pop2013.shape

(233, 13)

In [123]:
pop2013.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,32269.589,NaN
3,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,53687.121,NaN
6,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,2903.790,NaN
9,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,38140.133,NaN
12,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2013,2013,1000 personnes,81174.367,NaN

In [124]:
pop2013 = pop2013.drop(["Code Domaine", "Domaine", "Code Élément", "Code Produit", "Produit", "Code année","Note"], axis=1)

In [125]:
pop2013.shape

(233, 6)

In [126]:
# Je créé la colonne population
pop2013['population'] = pop2013['Valeur'] * 1000

In [127]:
pop2013.head()

,Code zone,Zone,Élément,Année,Unité,Valeur,population
0,2,Afghanistan,Population totale,2013,1000 personnes,32269.589,32269589.0
3,202,Afrique du Sud,Population totale,2013,1000 personnes,53687.121,53687121.0
6,3,Albanie,Population totale,2013,1000 personnes,2903.790,2903790.0
9,4,Algérie,Population totale,2013,1000 personnes,38140.133,38140133.0
12,79,Allemagne,Population totale,2013,1000 personnes,81174.367,81174367.0

In [128]:
# Je modifie le type de population en entier
pop2013 = pop2013.astype({'population':'int'})

In [129]:
# Je garde les colonnes utiles pour la jointure
pop2013 = pop2013[['Code zone','population']]

In [140]:
# Jointure entre data2013 et pop2013 sur Code zone 
datapop2013 = pd.merge(data13, pop2013, left_on=['country_code'], right_on=['Code zone'])

In [141]:
datapop2013.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),disponibilité alimentaire en quantité (kg/personne/an),...,export-qté,import-qté,nourriture,pertes,production,semences,traitement,variation de stock,Code zone,population
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587
1,1,Arménie,2513,Orge,2013,vegetal,137.0,26.0,0.0,0.00,...,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0,1,2897587
2,1,Arménie,2514,Maïs,2013,vegetal,96.0,NaN,0.0,0.03,...,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN,1,2897587
3,1,Arménie,2515,Seigle,2013,vegetal,1.0,NaN,1.0,0.12,...,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1,2897587
4,1,Arménie,2516,Avoine,2013,vegetal,4.0,NaN,2.0,0.37,...,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN,1,2897587

In [142]:
datapop2013[datapop2013["country"]=='Chine - RAS de Hong-Kong']

Empty DataFrame
Columns: [country_code, country, item_code, item, year, origin, aliments pour animaux, autres utilisations (non alimentaire), disponibilité alimentaire (Kcal/personne/jour), disponibilité alimentaire en quantité (kg/personne/an), Disponibilité de matière grasse en quantité (g/personne/jour), Disponibilité de protéines en quantité (g/personne/jour), disponibilité intérieure (en milliers de tonnes), export-qté, import-qté, nourriture, pertes, production, semences, traitement, variation de stock, Code zone, population]
Index: []

[0 rows x 23 columns]

In [150]:
# Jointure sur item_code pour avoir le ratio Energie/poids
datapop2013rep = pd.merge(datapop2013, dfREP)

In [151]:
datapop2013rep.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),disponibilité alimentaire en quantité (kg/personne/an),...,import-qté,nourriture,pertes,production,semences,traitement,variation de stock,Code zone,population,ratio énergie/poids (Kcal/kg)
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587,2919.80069
1,2,Afghanistan,2511,Blé,2013,vegetal,NaN,NaN,1369.0,160.23,...,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0,2,32269589,2919.80069
2,3,Albanie,2511,Blé,2013,vegetal,18.0,130.0,1056.0,138.64,...,360.0,440.0,44.0,294.0,18.0,NaN,0.0,3,2903790,2919.80069
3,4,Algérie,2511,Blé,2013,vegetal,545.0,820.0,1424.0,185.42,...,6343.0,7270.0,672.0,3299.0,153.0,0.0,-180.0,4,38140133,2919.80069
4,7,Angola,2511,Blé,2013,vegetal,NaN,NaN,286.0,40.72,...,972.0,874.0,23.0,4.0,0.0,0.0,-79.0,7,26015781,2919.80069

In [152]:
datapop2013rep.shape

(15122, 24)

In [153]:
datapop2013rep['disponibilité intérieure mondiale (kcal)'] = datapop2013rep['ratio énergie/poids (Kcal/kg)'] * datapop2013rep['disponibilité intérieure (en milliers de tonnes)'] * 1000000

In [154]:
datapop2013rep.head()

,country_code,country,item_code,item,year,origin,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),disponibilité alimentaire en quantité (kg/personne/an),...,nourriture,pertes,production,semences,traitement,variation de stock,Code zone,population,ratio énergie/poids (Kcal/kg),disponibilité intérieure mondiale (kcal)
0,1,Arménie,2511,Blé,2013,vegetal,93.0,0.0,1024.0,130.60,...,389.0,32.0,312.0,30.0,10.0,-118.0,1,2897587,2919.80069,1.617570e+12
1,2,Afghanistan,2511,Blé,2013,vegetal,NaN,NaN,1369.0,160.23,...,4895.0,775.0,5169.0,322.0,NaN,-350.0,2,32269589,2919.80069,1.749545e+13
2,3,Albanie,2511,Blé,2013,vegetal,18.0,130.0,1056.0,138.64,...,440.0,44.0,294.0,18.0,NaN,0.0,3,2903790,2919.80069,1.897870e+12
3,4,Algérie,2511,Blé,2013,vegetal,545.0,820.0,1424.0,185.42,...,7270.0,672.0,3299.0,153.0,0.0,-180.0,4,38140133,2919.80069,2.762423e+13
4,7,Angola,2511,Blé,2013,vegetal,NaN,NaN,286.0,40.72,...,874.0,23.0,4.0,0.0,0.0,-79.0,7,26015781,2919.80069,2.621981e+12

In [155]:
datapop2013rep['disponibilité intérieure mondiale (kcal)'].sum()

1.3883232034992012e+16

Pour 2013 la disponibilité intérieure mondiale est de presque 1,4e16 kcal.  
Ces chiffres sont toutefois peu cohérents avec 2017

In [156]:
datapop2013rep['disponibilité intérieure mondiale (kcal)'].describe()

count    1.237100e+04
mean     1.122240e+12
std      1.243073e+13
min     -2.276273e+13
25%      6.937858e+08
50%      1.796284e+10
75%      1.719063e+11
max      8.363186e+14
Name: disponibilité intérieure mondiale (kcal), dtype: float64

Une dispo intérieure négative est a priori possible.

## Pour 2017 :

In [157]:
datapop2017['disponibilité intérieure mondiale (kcal)'] = datapop2017['ratio énergie/poids (Kcal/kg)'] * datapop2017['disponibilité intérieure (en milliers de tonnes)'] * 1000000

In [158]:
datapop2017['disponibilité intérieure mondiale (kcal)'].sum()

inf

In [159]:
# Pour trouver les valeurs 'inf'
datapop2017[datapop2017['disponibilité intérieure mondiale (kcal)']>1000000000000000000]

,country_code,country,item_code,item,year,origin,aliments pour touristes,aliments pour animaux,autres utilisations (non alimentaire),disponibilité alimentaire (Kcal/personne/jour),...,variation de stock,Code zone,population,disponibilité alimentaire (kcal/pays/jour),disponibilité alimentaire (Kg de protéines/pays/jour),disponibilité alimentaire en quantité (kg/pays/jour),ratio énergie/poids (Kcal/kg),disponibilité alimentaire en quantité (g/personne/jour),% de protéines,disponibilité intérieure mondiale (kcal)
229,4,Algérie,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,6.0,...,0.0,4,41389189,2.483351e+08,7.450054e+09,0.0,inf,0.0,inf,inf
290,79,Allemagne,2558,Graines Colza/Moutarde,2017,vegetal,NaN,44.0,NaN,3.0,...,-307.0,79,82658409,2.479752e+08,0.000000e+00,0.0,inf,0.0,NaN,inf
303,79,Allemagne,2577,Huile de Palme,2017,vegetal,NaN,NaN,252.0,55.0,...,-33.0,79,82658409,4.546212e+09,4.132920e+09,0.0,inf,0.0,inf,inf
304,79,Allemagne,2578,Huile de Coco,2017,vegetal,NaN,NaN,12.0,8.0,...,31.0,79,82658409,6.612673e+08,8.265841e+08,0.0,inf,0.0,inf,inf
305,79,Allemagne,2579,Huile de Sésame,2017,vegetal,NaN,NaN,0.0,2.0,...,2.0,79,82658409,1.653168e+08,0.000000e+00,0.0,inf,0.0,NaN,inf
324,79,Allemagne,2633,Feve de Cacao,2017,vegetal,NaN,NaN,NaN,22.0,...,0.0,79,82658409,1.818485e+09,2.562411e+10,0.0,inf,0.0,inf,inf
419,202,Afrique du Sud,2633,Feve de Cacao,2017,vegetal,0.0,NaN,NaN,5.0,...,0.0,202,57009755,2.850488e+08,5.130878e+09,0.0,inf,0.0,inf,inf

In [160]:
# Je supprime les lignes contenant 'inf'. 
# Je suis apparemment obligé de créer un df pour cela. 
datapop2017dispint = datapop2017.drop([229,290,303,304,305,324,419])

In [161]:
datapop2017dispint['disponibilité intérieure mondiale (kcal)'].sum()

532512927920041.0

Pour 2017 la disponibilité intérieure mondiale serait de 5,3e14 kcal.

In [163]:
datapop2017dispint['disponibilité intérieure mondiale (kcal)'].describe()

count    3.220000e+02
mean     1.653767e+12
std      6.779261e+12
min     -1.410816e+11
25%      1.401932e+10
50%      7.454549e+10
75%      5.991059e+11
max      8.376750e+13
Name: disponibilité intérieure mondiale (kcal), dtype: float64

# QUESTION 7

## Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.